<phpunit
 colors="true"
 bootstrap="vendor/autoload.php"
 backupGlobals="false"
 forceCoversAnnotation="true">
  <testsuites>
    <testsuite>
      <directory>tests/src</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">src/</directory>
    </whitelist>
  </filter>
</phpunit>
